html {
    font-family: 'Times New Roman', Times, serif;
background-image: url(../img/forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

}

h1 {
    font-size: 40px;
    
    
    
}

h1, h2 {
    color: white;
   text-decoration: underline;
   line-height: 30px;
}

#score{
    text-decoration: underline;
    color: white;
    font-size: 30px;
}
ol {
    
    width: 200px;
    border: 5px solid black;
    padding: 0px 15px 3px 15px;
    color: white;
    background-color: black;
    opacity: 75%;
    margin: auto;
}


i.fab{
    position:relative;
    display:inline-block;
    line-height: 10px;
    margin: 1px;
    padding: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-size: 22px;
    border-radius: 4px;

}

i.fab::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgb(200, 200, 200);
    border-radius: 4px;

}

.isShown::after, .isMatched::after {
    content: none !important;
}

#timer, #time {
    color: white;
    
    font-size: 20px;
}
