html {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/assets/img/forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

h1, #score {
    color: white;
    text-align: center;
}

#form{
   
}